@use "sass:map";
@use "colors-h" as *;

:root {
  @each $color-name, $color-value in $colors {
    --color-#{$color-name}: #{$color-value};
  }
}

@each $color-name, $color-value in $palette {
  .bg-#{$color-name} {
    background-color: $color-value;
    color: var(--color-background);
    
    ::selection {
      background-color: var(--color-background);
      color: $color-value;
    }    
    
    h1,h2,h3,h4,h5,h6 {
      color: var(--color-background);
    }
  }
  
  .text-color-#{$color-name} {
    color: $color-value;
  }
}

// ========================================== Theme ==========================================

@mixin theme-light() {
  --color-background: #{map.get($palette, "white")};
  --color-foreground: #{map.get($palette, "dark")};
  --color-border: #{map.get($palette, "light")};
}

@mixin theme-dark() {
  --color-background: #{map.get($palette, "dark")};
  --color-foreground: #{map.get($palette, "light")};
  --color-border: #{map.get($palette, "shade")};
}
:root {
  @media (prefers-color-scheme: light) {
    .theme-system {
      @include theme-light();
    }
  }
  @media (prefers-color-scheme: dark) {
    .theme-system {
      @include theme-dark();
    }
  }
}

.theme-dark {
  @include theme-dark();
}

.theme-light {
  @include theme-light();
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}