@use "sass:map";

// Header for colors. @use this in other files instead of _colors.scss!

$colors: (
        "main": #45DB2E,
        "accent": #DB2EA6,
        "darkest": #101010,
        "darker": #232323,
        "dark": #404040,
        "middle": #767676,
        "light": #a0a0a0,
        "lighter": #d0d0d0,
        "lightest": #ffffff
);

$palette: (
  "bg": var(--scheme-background),
  "fg": var(--scheme-foreground),
  "shade": var(--scheme-shade),
  "shadier": var(--scheme-shadier)
);
@each $color-name, $color-value in $colors {
  $palette: map.set($palette, $color-name, var(--color-#{$color-name}));
}

@mixin theme-light() {
  --scheme-background: var(--color-lightest);
  --scheme-foreground: var(--color-darkest);
  --scheme-shade: var(--color-light);
  --scheme-shadier: var(--color-lighter);
}

@mixin theme-dark() {
  --scheme-background: var(--color-darkest);
  --scheme-foreground: var(--color-lightest);
  --scheme-shade: var(--color-dark);
  --scheme-shadier: var(--color-darker);
}