@use "sass:map";
@use "colors-h" as *;

:root {
  @each $color-name, $color-value in $colors {
    --color-#{$color-name}: #{$color-value};
  }
}

@each $color-name, $color-value in $palette {
  .bg-#{$color-name} {
    background-color: $color-value;
    $text-color: var(--scheme-background);
    color: $text-color;
    
    ::selection {
      background-color: $text-color;
      color: $color-value;
    }    
    
    h1,h2,h3,h4,h5,h6 {
      color: $text-color;
    }
  }
  
  .text-color-#{$color-name} {
    color: $color-value;
  }
}

// ========================================== Theme ==========================================

:root {
  @include theme-light();
}
@media (prefers-color-scheme: light) {
  .theme-system {
    @include theme-light();
  }
}
@media (prefers-color-scheme: dark) {
  .theme-system {
    @include theme-dark();
  }
}

body {
  background-color: var(--scheme-background);
  color: var(--scheme-foreground);
}

.theme-dark {
  @include theme-dark();
}

.theme-light {
  @include theme-light();
}

