@use "sass:map";
@use "sass:string";
@use "functions/to-number" as *;

// Header for colors. @use this in other files instead of _colors.scss!

$colors: (
        "main": #45DB2E,
        "accent": #DB2EA6,
        "shade-0": #101010,
        "shade-1": #141414,
        "shade-2": #202020,
        "shade-3": #2a2a2a,
        "shade-4": #373737,
        "shade-5": #505050,
        "shade-6": #767676,
        "shade-7": #a0a0a0,
        "shade-8": #d0d0d0,
        "shade-9": #ffffff
);

$palette: (
  "bg": var(--scheme-background),
  "fg": var(--scheme-foreground),
  "mg": var(--scheme-middleground)
);
@each $color-name, $color-value in $colors {
  $palette: map.set($palette, $color-name, var(--color-#{$color-name}));
}

@mixin theme-light() {
  --scheme-background: var(--scheme-shade-9);
  --scheme-foreground: var(--scheme-shade-0);
  
  --scheme-middleground: var(--scheme-shade-7);
  
  @each $color-name, $color-value in $colors {
    @if str-index($color-name, "shade") == 1 {
      --scheme-#{$color-name}: #{$color-value};
    }
  }
}

@mixin theme-dark() {
  --scheme-background: var(--scheme-shade-9);
  --scheme-foreground: var(--scheme-shade-0);
  
  --scheme-middleground: var(--scheme-shade-5);
  
  @each $color-name, $color-value in $colors {
    @if str-index($color-name, "shade") == 1 {
      // Invert shade colors
      $id: 9 - to-number(string.slice($color-name, -1));
      --scheme-shade-#{$id}: #{$color-value};
    }
  }
}