
// Header for sizing

$spacer: 1rem !default;
$border-width: 2px !default;

$sizer-percentages: (
        25: 25%,
        33: 33.33%,
        50: 50%,
        66: 66.66%,
        75: 75%,
        100: 100%,
);