@use "breakpoints-h" as *;

@use "sizes-h" as *;

@each $s-name, $s-value in $sizer-percentages {
    .w-#{$s-name} {
        width: $s-value;
    }
    .h-#{$s-name} {
        height: $s-value;
    }
}

@each $br-name, $br-value in $breakpoints {
    @each $s-name, $s-value in $sizer-percentages {
        .w-#{$br-name}-#{$s-name} {
            @include wider-than($br-value) {
                width: $s-value;
            }
        }
        .h-#{$br-name}-#{$s-name} {
            @include wider-than($br-value) {
                height: $s-value;
            }
        }
    }
}