@page

<h1>Buttons</h1>

<p>
    Buttons. Simple, universal and no layout can live without them. 
</p>

<div class="mb-1">
    <button class="btn">Default</button>
    <button class="btn btn-main">Main</button>
    <button class="btn btn-accent">Accent</button>
    
    <br>
    
    <a href="#" class="btn">Default</a>
    <a href="#" class="btn btn-main">Main</a>
    <a href="#" class="btn btn-accent">Accent</a>
</div>
<pre><code class="html">@(@"<button class=""btn"">Default</button>
<button class=""btn btn-main"">Main</button>
<button class=""btn btn-accent"">Accent</button>

<a href=""#"" class=""btn"">Default</a>
<a href=""#"" class=""btn btn-main"">Main</a>
<a href=""#"" class=""btn btn-accent"">Accent</a>")
</code></pre>

<h2>Disabled Buttons</h2>
<p>
    Disabled buttons all share the same color and are used to indicate a button that is disabled.
</p>
<div>
    <button class="btn disabled btn-primary">Primary</button>
    <button class="btn disabled btn-secondary">Secondary</button>
    <button class="btn disabled btn-info">Info</button>
    <button class="btn disabled btn-success">Success</button>
    <button class="btn disabled btn-warning">Warning</button>
    <button class="btn disabled btn-danger">Danger</button>
    <button class="btn disabled btn-link">Link</button>
</div>
<pre><code class="html">@(@"<button class=""btn disabled btn-primary"">Primary</button>
<button class=""btn disabled btn-secondary"">Secondary</button>
<button class=""btn disabled btn-info"">Info</button>
<button class=""btn disabled btn-success"">Success</button>
<button class=""btn disabled btn-warning"">Warning</button>
<button class=""btn disabled btn-danger"">Danger</button>
<button class=""btn disabled btn-link"">Link</button>")
</code></pre>

<h2>Button Variations</h2>

Buttons come in many shapes. All you need to do is add a class.

<div class="row">
    <div class="col-md">
        <button class="btn">Normal</button>
        <button class="btn btn-main">Normal</button>
        <button class="btn btn-accent">Normal</button>
    </div>
    <div class="col-md">
        <button class="btn btn-outline">Outline</button>
        <button class="btn btn-main btn-outline">Outline</button>
        <button class="btn btn-accent btn-outline">Outline</button>
    </div>
</div>
<div class="row">
    <div class="col-md">
        <button class="btn btn-popout">Popout</button>
        <button class="btn btn-main btn-popout">Popout</button>
        <button class="btn btn-accent btn-popout">Popout</button>
    </div>
    <div class="col-md">
        <button class="btn btn-outline btn-popout">Outline + Popout</button>
        <button class="btn btn-main btn-outline btn-popout">Outline + Popout</button>
        <button class="btn btn-accent btn-outline btn-popout">Outline + Popout</button>
    </div>
</div>
<div class="row">
    <div class="col-md">
        <button class="btn btn-shadow">Shadow</button>
        <button class="btn btn-main btn-shadow">Shadow</button>
        <button class="btn btn-accent btn-shadow">Shadow</button>
    </div>
    <div class="col-md">
        <button class="btn btn-outline btn-shadow">Outline + Shadow</button>
        <button class="btn btn-main btn-outline btn-shadow">Outline + Shadow</button>
        <button class="btn btn-accent btn-outline btn-shadow">Outline + Shadow</button>
    </div>
</div>