@page

<h1>Inputs</h1>

<input type="text" class="input-text">
<input type="text" class="input-text" placeholder="Placeholder">

<h2>Text Areas</h2>

<textarea class="input-text"></textarea>
<textarea class="input-text" placeholder="Placeholder"></textarea>

<h2>Radio</h2>

<input class="input-radio" type="radio" name="group" id="radio-1" value="Item 1">
<label for="radio-1">Item 1</label>
<input class="input-radio" type="radio" name="group" id="radio-2" value="Item 2">
<label for="radio-2">Item 2</label>
<input class="input-radio" type="radio" name="group" id="radio-3" value="Item 3">
<label for="radio-3">Item 3</label>
<input class="input-radio" type="radio" name="group" id="radio-4" value="Item 4">
<label for="radio-4">Item 4</label>
