@use "sass:map";
@use "themes/light" as lightTheme;
@use "themes/dark" as darkTheme;
@use "palettes/default" as defaultPalette;

html,
.palette-default,
html {
  @include defaultPalette.palette-default();
}

// ========================================== Theme ==========================================

body, .root {
  background-color: var(--scheme-background);
  color: var(--scheme-foreground);
}

.theme-light {
  @include lightTheme.theme-light();
  color-scheme: dark;
}
.theme-dark {
  @include darkTheme.theme-dark();
  color-scheme: light;
}

.bg-background {
  background: var(--scheme-background);
}
.bg-foreground {
  background: var(--scheme-foreground);
}
.bg-surface-0 {
  background: var(--scheme-surface-0);
}