
:root {
    --stroke: 2px;
    --radius: 8px;
}

.radius { border-radius: var(--radius); }

$spaces: (
    "3xs": clamp(0.31rem, calc(0.31rem + 0.00vw), 0.31rem),
    "2xs": clamp(0.56rem, calc(0.54rem + 0.11vw), 0.63rem),
    "xs": clamp(0.88rem, calc(0.85rem + 0.11vw), 0.94rem),
    "s": clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem),
    "m": clamp(1.69rem, calc(1.62rem + 0.33vw), 1.88rem),
    "l": clamp(2.25rem, calc(2.16rem + 0.43vw), 2.50rem),
    "xl": clamp(3.38rem, calc(3.24rem + 0.65vw), 3.75rem),
    "2xl": clamp(4.50rem, calc(4.33rem + 0.87vw), 5.00rem),
    "3xl": clamp(6.75rem, calc(6.49rem + 1.30vw), 7.50rem),

    /* One-up pairs */
    "3xs-2xs": clamp(0.31rem, calc(0.20rem + 0.54vw), 0.63rem),
    "2xs-xs": clamp(0.56rem, calc(0.43rem + 0.65vw), 0.94rem),
    "xs-s": clamp(0.88rem, calc(0.74rem + 0.65vw), 1.25rem),
    "s-m": clamp(1.13rem, calc(0.86rem + 1.30vw), 1.88rem),
    "m-l": clamp(1.69rem, calc(1.40rem + 1.41vw), 2.50rem),
    "l-xl": clamp(2.25rem, calc(1.73rem + 2.61vw), 3.75rem),
    "xl-2xl": clamp(3.38rem, calc(2.81rem + 2.83vw), 5.00rem),
    "2xl-3xl": clamp(4.50rem, calc(3.46rem + 5.22vw), 7.50rem),

    /* Custom pairs */
    "s-l": clamp(1.13rem, calc(0.65rem + 2.39vw), 2.50rem)
);

/* @link https://utopia.fyi/space/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
    @each $space in $spaces {
        --space-#{nth($space, 1)}: #{nth($space, 2)};
    }
}

@each $space in $spaces {
    // Padding
    .p-block-#{nth($space, 1)} { padding-block: var(--space-#{nth($space, 1)}); }
    .p-block-start-#{nth($space, 1)} { padding-block-start: var(--space-#{nth($space, 1)}); }
    .p-block-end-#{nth($space, 1)} { padding-block-end: var(--space-#{nth($space, 1)}); }

    .p-inline-#{nth($space, 1)} { padding-inline: var(--space-#{nth($space, 1)}); }
    .p-inline-start-#{nth($space, 1)} { padding-inline-start: var(--space-#{nth($space, 1)}); }
    .p-inline-end-#{nth($space, 1)} { padding-inline-end: var(--space-#{nth($space, 1)}); }

    // Margin
    .m-block-#{nth($space, 1)} { margin-block: var(--space-#{nth($space, 1)}); }
    .m-block-start-#{nth($space, 1)} { margin-block-start: var(--space-#{nth($space, 1)}); }
    .m-block-end-#{nth($space, 1)} { margin-block-end: var(--space-#{nth($space, 1)}); }

    .m-inline-#{nth($space, 1)} { margin-inline: var(--space-#{nth($space, 1)}); }
    .m-inline-start-#{nth($space, 1)} { margin-inline-start: var(--space-#{nth($space, 1)}); }
    .m-inline-end-#{nth($space, 1)} { margin-inline-end: var(--space-#{nth($space, 1)}); }
}