
// Font sizes
.step--2 { font-size: var(--step--2); }
.step--1 { font-size: var(--step--1); }
.step-0  { font-size: var(--step-0); }
.step-1  { font-size: var(--step-1); }
.step-2  { font-size: var(--step-2); }
.step-3  { font-size: var(--step-3); }
.step-4  { font-size: var(--step-4); }
.step-5  { font-size: var(--step-5); }

// Widths
.paragraph {
  max-width: var(--paragraph-width);
}

// Styles
.bold { font-weight: bold; }
.bolder { font-weight: bolder; }
.weight-100 { font-weight: 100; }
.weight-200 { font-weight: 200; }
.weight-300 { font-weight: 300; }
.weight-400 { font-weight: 400; }
.weight-500 { font-weight: 500; }
.weight-600 { font-weight: 600; }
.weight-700 { font-weight: 700; }
.weight-800 { font-weight: 800; }
.weight-900 { font-weight: 900; }
.italic { font-style: italic; }
.strike { text-decoration: line-through; }

// Alignment
.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

// Wrap
.wrap-balance { text-wrap: balance; }
.wrap-pretty { text-wrap: pretty; }
.wrap-stable { text-wrap: stable; }

// Color
.text-muted { color: var(--scheme-text-muted-color); }
.text-main { color: var(--scheme-main); }
.text-bg { color: var(--scheme-background); }
.text-fg { color: var(--scheme-foreground); }
.text-surface-0 { color: var(--scheme-surface-0); }
