.float-left {
  float: left
}
.float-right {
    float: right;
}
.place-center {
  display: grid;
  place-items: center;
}
.sr-only {
  display: none;
}
.width-100 {
  width: 100%;
}
.height-100 {
  height: 100%;
}