.palette-default {
    /* Color settings */
    --btn-color: var(--scheme-main);
    --btn-hover-color: black;
    --btn-text-color: var(--scheme-background);
    --btn-outline-text-color: var(--scheme-foreground);
}

.btn {
    --btn-bg: var(--btn-color);
    --btn-border-color: var(--btn-color);

    /* Size settings */
    --btn-border-width: var(--border-width);
    --btn-border-radius: var(--border-radius);
    --btn-font-size: calc(var(--font-size));
    --btn-focus-outline-width: var(--btn-border-width);
    --btn-focus-outline-offset: var(--btn-focus-outline-width);
    --btn-focus-outline-color: var(--btn-bg);
    --btn-padding-vertical: calc(var(--spacer) * 0.75);
    --btn-padding-horizontal: calc(var(--spacer) * 1.5);

    /* Apply colors */
    background-color: var(--btn-bg);
    color: var(--btn-text-color);
    border: solid var(--btn-border-color) var(--btn-border-width);
    border-radius: var(--btn-border-radius);
    
    /* Apply styling */
    display: inline-block;
    position: relative;
    padding: var(--btn-padding-vertical) var(--btn-padding-horizontal) ;
    margin: calc(var(--btn-border-width) * 2);
    cursor: pointer;
    font-weight: normal;
    font-size: var(--btn-font-size);
    text-decoration: none;
    user-select: none;

    transition: background-color var(--transition-duration) ease,
                border var(--transition-duration) ease;
    
    &:focus-visible {
        outline: var(--btn-focus-outline-width) solid;
        outline-color: var(--btn-focus-outline-color);
        
        outline-offset: var(--btn-focus-outline-offset);
    }

    &.disabled {
        //--btn-color: var(--scheme-shade);
        //--btn-text-color: var(--scheme-background);
        cursor: default;
        opacity: 0.5;
    }

    // Darkening for hover
    &::after {
        content: "";
        position: absolute;
        inset: calc(var(--btn-border-width) * -1);
        pointer-events: none;
        background: var(--btn-hover-color);
        opacity: 0;

        transition: opacity var(--transition-duration);
        border-radius: inherit;
    }
    &:hover::after {
        opacity: 0.1;
    }

    // ================
    // Color variations
    // ================

    &.btn-fg {
        --btn-color: var(--scheme-foreground);
    }
    &.btn-bg {
        --btn-color: var(--scheme-shade-7);
        --btn-text-color: var(--scheme-foreground);
        --btn-border-color: var(--scheme-shade-6);
        --btn-focus-outline-color: var(--scheme-foreground);
    }
    
    // ================
    // Style variations
    // ================
    
    &.btn-outline {
        color: var(--btn-outline-text-color);
        background-color: transparent;
    }

}

