
code {    
    --code-bg: var(--scheme-shade-7);
    --code-padding: calc(var(--spacer) * 0.25) calc(var(--spacer) * 0.5);
    --code-color: var(--scheme-shade-1);
    --code-border-color: var(--code-bg);
    --code-border-radius: var(--border-radius);

    border-radius: var(--code-border-radius);
    
    color: var(--code-color);
    background-color: var(--code-bg);
    
    padding: var(--code-padding);
    display: inline-block;
    
    // Jetbrains recommended settings for jetbrains mono font
    font-family: var(--font-family-monospace);
    font-size: 0.9em;

    pre > & {
        display: block;
        position: relative;
        box-sizing: border-box;
        width: 100%;
        line-height: 1.2;
        font-size: 16px;

        padding: var(--spacer);
        border-left-width: calc(var(--border-width) * 4);
        word-break: normal;
        overflow-x: auto;
    }
}
