:root {
    --input-text-bg: var(--scheme-background);
    --input-text-color: var(--scheme-foreground);
    --input-text-border-color: var(--scheme-shade-6);
    --input-text-placeholder-color: var(--scheme-shade-6);
    --input-text-padding: calc(var(--spacer) * 0.75);
    --input-text-border-width: var(--border-width);
    --input-text-border-radius: var(--radius);
    --input-text-focus-border-color: var(--scheme-main);
}

.input-text,
textarea.input-text {
    --input-text-min-character-width: 10ch;

    display: inline-block;
    position: relative;
    
    padding: var(--input-text-padding);
    background-color: var(--input-text-bg);
    color: var(--input-text-color);
    
    font-size: var(--font-size);
    
    border: var(--input-text-border-width) var(--input-text-border-color) solid;
    border-radius: var(--input-text-border-radius);

    transition: border-top-color var(--transition-duration) ease,
                border-right-color var(--transition-duration) ease,
                border-bottom-color var(--transition-duration) ease,
                border-left-color var(--transition-duration) ease;
    
    &::placeholder {
        transition: color var(--transition-duration) ease;
        color: var(--input-text-placeholder-color);
        opacity: 1;
    }
    
    &:focus {
        outline: none;
        border-color: var(--input-text-focus-border-color);
    }
    &:focus::placeholder {
        color: var(--input-text-focus-border-color);
    }
    
    // ===== Textarea =====
    
    max-width: 100%; // Keep resizing in-bounds
    max-height: 100%;
    min-height: auto;
    min-width: var(--input-text-min-character-width);
    
    &.input-text-underline {
        border-top: none;
        border-left: none;
        border-right: none;
        border-radius: 0;
        border-bottom-color: var(--input-text-border-color);

        &:focus {
            border-color: var(--scheme-main);
        }
    }
    
}

.input-text-shift-wrapper {

    --input-text-shift-animation-duration: calc(var(--transition-duration) * 0.5);

    position: relative;

    label {

        --input-text-shift-label-padding: calc(var(--input-text-padding) * 0.5);
        padding-inline: var(--input-text-shift-label-padding);
        color: var(--input-text-placeholder-color);

        content: attr(data-placeholder);
        position: absolute;
        left: calc(var(--input-text-padding) + var(--border-width) - var(--input-text-shift-label-padding));

        z-index: 2;
        pointer-events: none;
        user-select: none;

        transition: bottom var(--input-text-shift-animation-duration) ease,
                    left var(--input-text-shift-animation-duration) ease,
                    color var(--input-text-shift-animation-duration) ease,
                    font-size var(--input-text-shift-animation-duration) ease;
    }

    // Input empty
    .input-text:placeholder-shown + label {
        font-size: var(--font-size);
        bottom: calc(var(--input-text-padding) + var(--border-width));
        color: var(--input-text-placeholder-color);
        background: transparent;
    }
    // Input filled
    .input-text + label {
        font-size: calc(var(--font-size) * 0.75);
        bottom: calc(var(--input-text-padding) * 2 + var(--border-width) * 3 + var(--font-size) * 0.5);
        color: var(--scheme-middleground);
        background: var(--input-text-bg);
    }
    .input-text:focus + label {
        color: var(--input-text-focus-border-color);
    }


}
