
input[type=checkbox].input-check {
  --input-check-size: 1.25em;
  --input-check-border-width: calc(var(--border-width));
  --input-check-color: var(--scheme-main);
  --input-check-tick-color: var(--scheme-background);
  --input-check-corner-radius: calc(var(--radius) * 0.5);
  --input-check-cutout: var(--cutout-checkmark);

  width: var(--input-check-size);
  height: var(--input-check-size);

  appearance: none;

  position: relative;
  
  // Check Border
  &::before {
    content: '';
    display: inline-block;
    position: absolute;
    
    user-select: none;
    cursor: pointer;

    left: 0;
    top: calc(var(--input-check-size) * 0.175);

    width: calc(var(--input-check-size) - var(--input-check-border-width) * 2);
    height: calc(var(--input-check-size) - var(--input-check-border-width) * 2);

    border: var(--input-check-border-width) solid var(--input-check-color);
    border-radius: var(--input-check-corner-radius);

    clip-path: var(--input-check-cutout);
  }
  &:checked::before {
    background-color: var(--input-check-color);
  }

  &:focus,
  &:focus-visible {
    outline: none;
  }

  &:focus-visible::before {
    outline-offset: var(--input-check-border-width);
    outline: var(--input-check-border-width) solid var(--input-check-tick-color);
  }

  & + label {
    padding-inline-start: 0.5ch;
    cursor: pointer;
  }
}