
input[type=checkbox].input-check {
  --input-check-size: 1.25em;
  --input-check-border-width: calc(var(--border-width));
  --input-check-color: var(--scheme-main);
  --input-check-tick-color: var(--scheme-main);
  --input-check-corner-radius: calc(var(--radius) * 0.5);
  --input-check-icon: var(--icon-xmark);

  width: var(--input-check-size);
  height: var(--input-check-size);

  appearance: none;

  position: relative;
  
  // Check Border
  &::before {
    content: '';
    display: inline-block;
    position: absolute;
    
    user-select: none;

    left: 0;
    top: calc(var(--input-check-size) * 0.175);

    width: calc(var(--input-check-size) - var(--input-check-border-width) * 2);
    height: calc(var(--input-check-size) - var(--input-check-border-width) * 2);
    
    border: var(--input-check-border-width) solid var(--input-check-color);

    border-radius: var(--input-check-corner-radius);
    
    cursor: pointer;
  }
  &:checked::before {
    background-color: var(--input-check-color);
    background-image: var(--input-check-icon);
    background-repeat: no-repeat;
    background-position: center;
    //background-image: url("https://www.svgrepo.com/show/169312/check-mark.svg");
  }

  &:focus,
  &:focus-visible {
    outline: none;
  }

  &:focus-visible::before {
    outline-offset: var(--input-check-border-width);
    outline: var(--input-check-border-width) solid var(--input-check-tick-color);
  }

  & + label {
    padding-inline-start: 0.5ch;
    cursor: pointer;
  }
}