.btn {

    /* Size settings */
    --btn-border-radius: var(--radius);
    --btn-font-size: var(--step-0);
    --btn-focus-outline-width: var(--btn-border-width);
    --btn-focus-outline-offset: var(--btn-focus-outline-width);
    --btn-padding-vertical: var(--space-2xs);
    --btn-padding-horizontal: var(--space-xs);
    --btn-press-dip: 2px;

    /* Apply colors */
    background: var(--btn-bg);
    color: var(--btn-text-color);
    border-radius: var(--btn-border-radius);
    
    /* Apply styling */
    display: inline-block;
    position: relative;
    border: none;
    padding: var(--btn-padding-vertical) var(--btn-padding-horizontal);
    margin: calc(var(--btn-border-width) * 2);
    cursor: pointer;
    font-weight: normal;
    font-size: var(--btn-font-size);
    text-decoration: none;
    user-select: none;

    transition: background-color var(--transition-duration) ease,
                transform var(--transition-duration-quick) ease,
                border var(--transition-duration) ease;
    
    &:focus-visible {
        outline: var(--btn-focus-outline-width) solid;
        outline-color: var(--btn-focus-outline-color);
        outline-offset: var(--btn-focus-outline-offset);
    }

    &:hover:not(:disabled) {
        background: var(--btn-hover-bg);
        border-color: var(--btn-hover-color);
    }

    &:active:not(:disabled) {
        transform: translateY(var(--btn-press-dip));
    }

    &:disabled {
        background-color: var(--btn-disabled-bg);
        color: var(--btn-disabled-text-color);
        cursor: default;
    }

    // ================
    // Color variations
    // ================

    &.btn-main {
        --btn-bg: var(--scheme-main);
        --btn-text-color: var(--scheme-background);
        --btn-hover-bg: var(--scheme-main-hover);
    }
    &.btn-fg {
        --btn-bg: var(--scheme-foreground);
        --btn-text-color: var(--scheme-background);
        --btn-hover-bg: var(--scheme-shade-2);
    }
    
    // ================
    // Style variations
    // ================
    
    &.btn-sm {
        --btn-font-size: var(--step--1);
        --btn-padding-vertical: var(--space-3xs);
        --btn-padding-horizontal: var(--space-2xs);
    }
    
    &.btn-inline {
        --btn-bg: transparent;
        --btn-padding-vertical: 0;
        --btn-padding-horizontal: 0;
        --btn-border-radius: 0;
        --btn-text-color: var(--scheme-foreground);
        --btn-hover-bg: transparent;
    }

}

.btn-group {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    width: max-content;

    isolation: isolate;

    > .btn:first-child {
        margin-right: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    > .btn:last-child {
        margin-left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    > .btn:not(:first-child, :last-child) {
        margin-left: 0;
        margin-right: 0;
        border-radius: 0;
    }

    > .btn:focus-visible {
        z-index: 2;
        outline-offset: 0;
    }
}
