
code {    
    --code-bg: var(--scheme-surface-0);
    --code-padding: var(--space-3xs) var(--space-2xs);
    --code-color: var(--scheme-shade-1);
    --code-border-color: var(--code-bg);
    --code-border-radius: var(--radius);

    border-radius: var(--code-border-radius);
    
    color: var(--code-color);
    background-color: var(--code-bg);
    
    padding: var(--code-padding);
    display: inline-block;

    font-family: var(--ff-mono);
    font-size: var(--step-0);

    pre > & {
        display: block;
        position: relative;
        box-sizing: border-box;
        width: 100%;
        line-height: 1.2;
        font-size: var(--step-0);

        padding: var(--space-xs);
        word-break: normal;
        overflow-x: auto;
    }

    // Code blocks with scroll overflow are focusable so the keyboard can be used to scroll
    &:focus {
        outline: var(--stroke) solid var(--scheme-focus);
    }
}
