@page

@{
    ViewData["Title"] = "Color and Theming System";
}

<h1>Colors</h1>
<p>
    The color system is the heart of ReadyCSS. 
</p>
<p>
    Compared to common frameworks, ReadyCSS only comes with a small color pallete by default and only includes a main
    and an accent color. Most designs rarely use more than two colors. If you need a third color, you can add it yourself to fit your site's needs.
</p>

<code-example language="HTML" preview="true"><div class="pt-5 pb-5 bg-accent text-center">
  --color-accent
</div>
<div class="pt-5 pb-5 bg-main text-center">
  --color-main
</div></code-example>

<h2>Scheme</h2>
<p>
    Scheme colors are ones that adapt to the active color scheme.
    Instead of hard-coding a button's shadow to be light gray, set it to use the scheme's background shade color.
</p>

<code-example head="false" highlight="false">--scheme-background
--scheme-foreground
--scheme-middleground</code-example>
<p>
    Entropy only comes with a small scheme pallete for consistency, simplicity and to allow you to expand it yourself.
</p>

<h2>Theme</h2>
<p>
    Entropy is built with themes in mind and includes a light and dark theme by default.
    To set a theme, add the theme's CSS class to any container. (Use the body tag to set the theme globally)
</p>

<code-example language="HTML" preview="true"><div class="theme-dark bg-bg p-1">
    Everything in this container is now dark theme
    <button class="btn btn-main btn-popout">Button</button>
    <button class="btn btn-outline">Button</button>
    <pre><code class="plaintext">Code block for demonstration</code></pre>
</div></code-example>

<p>
    The <code>theme-system</code> class is adaptive and automatically detect the user's operating system theme preference.
</p>

<code-example language="HTML" preview="false"><body class="theme-system"></body></code-example>
