@page

<div class="row">
    <div class="col bg-primary">
        A
    </div>
    <div class="col bg-info">
        B
    </div>
    <div class="col bg-success">
        C
    </div>
</div>

<hr/>

<div class="row">
    <div class="col-md bg-primary">
        A
    </div>
    <div class="col-md bg-info">
        B
    </div>
    <div class="col-md bg-success">
        C
    </div>
</div>