@page
@{
    ViewData["Title"] = "Home page";
}

<h1 class="display-4 mb-0">Entropy CSS</h1>
<p>My epic css framework</p>

<hr/>
    
<h2>Buttons</h2>
    
<div class="row">
        
    <div class="col-md">
        <a class="btn" href="#">Default</a>
        <a class="btn btn-main" href="#">Main</a>
        <a class="btn btn-accent" href="#">Accent</a>
    </div>
        
    <div class="col-md">
        <a class="btn disabled" href="#">Default</a>
        <a class="btn disabled btn-main" href="#">Main</a>
        <a class="btn disabled btn-accent" href="#">Accent</a>
    </div>
        
</div>

<p>This is <code>inline code</code> inside a paragraph</p>
    
<h2>Input</h2>
    
<div class="row">
    <div class="col-md">
        <input type="text" class="input-text mb-2" placeholder="Text Input Placeholder"/>
        <input type="text" class="input-text mb-2" value="Disabled Text Input Content"/>
    </div>
    <div class="col-md">
        <input type="text" disabled class="input-text mb-2" placeholder="Disabled Text Input Placeholder"/>
        <input type="text" disabled class="input-text mb-2" value="Disabled Text Input Content"/>
    </div>
</div>
    
<h2>Checkboxes</h2>
    
<div class="row">
    <div class="col-md">
        <div class="mb-05">
            <input type="checkbox" class="input-check" id="customCheck1">
            <label for="customCheck1">Check 1</label>
        </div>
        <div class="mb-05">
            <input type="checkbox" class="input-check" id="customCheck2">
            <label for="customCheck2">Check 2</label>
        </div>
        <div class="mb-05">
            <input type="checkbox" class="input-check" id="customCheck3">
            <label for="customCheck3">Check 3</label>
        </div>
    </div>
    <div class="col-md">
        <div class="mb-05">
            <input type="radio" class="input-radio" name="radioGroup" id="customRadio1">
            <label for="customRadio1">Radio 1</label>
        </div>
        <div class="mb-05">
            <input type="radio" class="input-radio" name="radioGroup" id="customRadio2">
            <label for="customRadio2">Radio 2</label>
        </div>
        <div class="mb-05">
            <input type="radio" class="input-radio" name="radioGroup" id="customRadio3">
            <label for="customRadio3">Radio 3</label>
        </div>
    </div>
</div>
    

<div class="bg-main p-5">
    <h1>Main!</h1>
    <p>This is a section with main color background</p>
</div>

<div class="bg-accent p-5">
    <h1>Accent!</h1>
    <p>This is a section with accent color background</p>
</div>

<div class="bg-mg p-5">
    <h1>Middleground!</h1>
    <p>This is a section with middleground color background.</p>
    <p>Useful for cards or other page sections</p>
</div>