@page

@{
    ViewData["Title"] = "Navigation";
}


<div>
    <h1>Nav List</h1>
    <ul class="nav-list vertical align-start">
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
        <li>Item 4</li>
    </ul>
    <ul class="nav-list vertical align-end">
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
        <li>Item 4</li>
    </ul>
    <ul class="nav-list horizontal align-start">
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
        <li>Item 4</li>
    </ul>
    <ul class="nav-list horizontal align-end">
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
        <li>Item 4</li>
    </ul>
</div>