@mixin theme-light() {
    --palette-default-main: var(--color-main);
    --palette-default-accent: var(--color-accent);

    --palette-default-background: var(--color-shade-0);
    --palette-default-foreground: var(--color-shade-9);
    
    --palette-default-middleground: var(--color-shade-5);
    --palette-default-shadow: var(--color-shade-4);

    --palette-default-shade-0: var(--color-shade-0);
    --palette-default-shade-1: var(--color-shade-1);
    --palette-default-shade-2: var(--color-shade-2);
    --palette-default-shade-3: var(--color-shade-3);
    --palette-default-shade-4: var(--color-shade-4);
    --palette-default-shade-5: var(--color-shade-5);
    --palette-default-shade-6: var(--color-shade-6);
    --palette-default-shade-7: var(--color-shade-7);
    --palette-default-shade-8: var(--color-shade-8);
    --palette-default-shade-9: var(--color-shade-9);
}