@mixin palette-default() {

    --scheme-focus: hsl(30, 100%, 50%);

    // Colors definitions
    --scheme-main: var(--palette-default-main);
    --scheme-main-hover: var(--palette-default-main-hover);

    --scheme-background: var(--palette-default-background);
    --scheme-foreground: var(--palette-default-foreground);
    --scheme-text-color: var(--palette-default-text-color);
    --scheme-text-muted-color: var(--palette-default-text-muted-color);
    --scheme-middleground: var(--palette-default-middleground);

    --scheme-shadow: var(--palette-default-shadow);

    --scheme-shade-0: var(--palette-default-shade-0);
    --scheme-shade-1: var(--palette-default-shade-1);
    --scheme-shade-2: var(--palette-default-shade-2);
    --scheme-shade-3: var(--palette-default-shade-3);
    --scheme-shade-4: var(--palette-default-shade-4);
    --scheme-shade-5: var(--palette-default-shade-5);
    --scheme-shade-6: var(--palette-default-shade-6);
    --scheme-shade-7: var(--palette-default-shade-7);
    --scheme-shade-8: var(--palette-default-shade-8);
    --scheme-shade-9: var(--palette-default-shade-9);

    --scheme-surface-0: var(--palette-default-surface-0);

    --control-bg: var(--palette-default-control-bg);
    --control-hover-bg: var(--palette-default-control-hover-bg);
    --control-disabled-bg: var(--palette-default-control-disabled-bg);

    // Buttons
    --btn-bg: var(--control-bg);
    --btn-hover-bg: var(--control-hover-bg);
    --btn-disabled-bg: var(--control-disabled-bg);
    --btn-disabled-text-color: var(--scheme-text-muted-color);
    --btn-text-color: var(--scheme-text-color);
    --btn-focus-outline-color: var(--scheme-focus);

    // Checkbox
    --checkbox-unchecked-bg: var(--control-bg);
    --checkbox-unchecked-hover-bg: var(--control-hover-bg);

    // Text input
    --text-input-bg: var(--scheme-background);
    --text-input-placeholder-color: var(--scheme-shade-6);
    --text-input-text-color: var(--scheme-text-color);
    --text-input-border-color: var(--control-bg);

}