<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Chaos Initiative - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/entropy.css"/>
    
    <script src="https://kit.fontawesome.com/3c465cbf36.js" crossorigin="anonymous"></script>
</head>
<body class="theme-system">

<ul class="dropdown">
    <li>
        <i class="fas fa-moon"></i> Dark
    </li>
    <li>
        <i class="fas fa-sun"></i> Light
    </li>
    <li>
        <i class="fas fa-adjust"></i> System
    </li>
</ul>

<div class="flex-grow-1 container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.4.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script src="~/js/theming.js"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>