@use "../colors-h" as *;
@use "../sizes-h" as *;
@use "buttons-h" as *;

.btn {
    display: inline-block;
    padding: $spacer * 0.75 $spacer;
    cursor: pointer;
    font-weight: bold;
    
    &.btn-block {
        display: block;
        text-align: center;
    }
    
    &.btn-primary {
        @include btn-variation-solid("primary", "shade");
    }
    &.btn-secondary {
        @include btn-variation-outline("primary", "shade");
    }
    &.btn-dark {
        @include btn-variation-outline("shade", "shade");
    }
    &.btn-light {
        @include btn-variation-outline("light", "shade");
    }
    &.btn-link {
        text-decoration: underline;
        color: color("primary");
        
        &.disabled {
            color: color("shade");
        }
    }
    &.btn-success {
        @include btn-variation-solid("success", "shade");
    }
    &.btn-info {
        @include btn-variation-solid("info", "shade");
    }
    &.btn-warning {
        @include btn-variation-solid("warning", "shade");
    }
    &.btn-danger {
        @include btn-variation-solid("danger", "shade");
    }
}

