@use "../typography-h" as *;
@use "../sizes-h" as *;

:root {
    --code-padding: calc(var(--spacer) * 0.25);
}

code {    
    border: solid var(--border-width);
    border-color: var(--scheme-shade);
    
    padding: var(--code-padding);
    display: inline-block;
    
    // Jetbrains recommended settings for jetbrains mono font
    font-family: var(--font-family-monospace);
    line-height: 1.2;
    font-size: 16px;
    
    pre > & {
        display: block;
        box-sizing: border-box;
        width: 100%;
        
        padding:  calc(var(--spacer) / 2) var(--spacer);
        border-left-width: calc(var(--border-width) * 4);
        word-break: normal;
        overflow-x: auto;
        
    }
}
