@use "../colors-h" as *;
@use "../typography-h" as *;
@use "../sizes-h" as *;
@use "input-text-h" as *;

input[type=text] {
    display: block;
    width: 100%;
    padding: $spacer / 2;
    background-color: var(--scheme-background);
    color: var(--scheme-foreground);
    
    font-size: var(--font-size);
    
    border: $border-width var(--input-text-border-color) solid;
    
    &:focus {
        outline: none;
        border-bottom-color: var(--input-text-border-focus-color);
    }
}