@use "../sizes-h" as *;

:root {
    --input-radio-size: calc(var(--spacer) * 1.5);
}

input[type=radio].input-radio {
    
    --input-radio-color: var(--color-main);
    
    appearance: none;
    vertical-align: middle;
    
    position: relative;
    
    // Radio Circle
    &::before {
        content: '';
        display: inline-block;
        position: absolute;
        left: calc(var(--input-radio-size) * 0.333);
        top: calc(var(--input-radio-size) * -0.1666);
        
        width: calc(var(--input-radio-size) / 3);
        height: calc(var(--input-radio-size) / 3);
        
        background-color: var(--scheme-background);
        border-radius: 100%;
        cursor: pointer;
        
        box-shadow: 
            0 0 0 calc(var(--input-radio-size) * 0.1666) var(--scheme-background),
            0 0 0 calc(var(--input-radio-size) * 0.333) var(--input-radio-color);
    }
    &:checked::before {
        background-color: var(--input-radio-color);
    }

    &+label {
        padding-left: var(--input-radio-size);
        vertical-align: middle;

        cursor: pointer;
    }
    
    // This just exists to extend the clickable area
    &::after {
        content: '';
        display: inline-block;
        position: absolute;
        top: calc(var(--input-radio-size) * -0.5);
        width: var(--input-radio-size);
        height: var(--input-radio-size);
        
        cursor: pointer;
    }
    
    
}